@font-face {
  font-family: "Neo";
  src: url("../fonts/neo.eot"), url("../fonts/neo.woff2") format("woff2"),
    url("../fonts/neo.woff") format("woff"),
    url("../fonts/neo.ttf") format("ttf"), url("../fonts/neo.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Neo", sans-serif;
}

#content {
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#content p {
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 992px) {
  #content p {
    font-size: 1rem;
  }
}

#content {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  #content {
    padding-left: 0;
  }
}

.chart-container {
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .chart-container {
    width: 250px;
    height: 250px;
  }
}
